/* Ensures the landing page takes up the full screen */
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #d9d9d3;
}

.text-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.black-section {
  background-color: #090908;
  width: 56%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.black-bg {
  color: #d9d9d3;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding-right: 20px;
}

.white-section {
  background-color: #d9d9d3;
  width: 44%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.white-bg {
  color: #090908;
  font-family: 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding-left: 20px;
}
